# .NET
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.idea/
.vs/
*.user
backend/.vs

# Python
**/__pycache__/
**/venv/
**/.env

# Frontend
**/node_modules/
**/dist/

# Backend
appsettings.json
appsettings.Development.json
.env
.env.local

# Backend (For Mac)
.DS_Store
backend/.DS_Store
