.env
.env.local
.env.*.local
*.env

# .NET
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.idea/
*.user

out/
publish/


# Python
**/__pycache__/
**/.vscode/
**/venv/
**/.env

# Frontend
**/node_modules/
**/dist/

**.DS_Store

# DOCKER
docker-compose.override.yml
compose.override.yaml

#DB
*.db
*.sqlite

