# .NET
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.idea/
*.user

# Python
**/__pycache__/
**/venv/
**/.env

# Frontend
**/node_modules/
**/dist/

# Backend
backend/User/appsettings.json
backend\User\appsettings.json
backend\News\appsettings.json
backend/News/appsettings.json
.env

# Backend (For Mac)
.DS_Store
backend/.DS_Store
